
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body{
    background-image: url(gato.jpg);
    background-color: #1d1c47;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    text-decoration: none;
}

.box{
    font-size: 40px;
    color: #ffffff;
    height: 250px;
    width: 350px;
    border-radius: 16px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    
}

.button-container{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
    
}


buttom{
    height: 30px;
    width: 50px;
    background-color: #191919;
    border-radius: 5px;
    color: #3d23ff;
    font-weight: 600;
}

